<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" class="page-header">{{Neighborhood Nests}}</h1>
        <p id="migration" class="text-center"></p>
        <br>
        <div style="width:90%; margin-left:calc(5%);">
            <div class='btn-group btn-group-sm float-right'>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#filtersModal">
                    <i class="fa fa-fw fa-filter" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal fade" id="filtersModal" tabindex="-1" role="dialog" aria-labelledby="filtersModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="filtersModalLabel">{{Nest Filters}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="filter-nest">{{Nest}}</label>
                                        </div>
                                        <input type="text" id="filter-nest" class="form-control input-lg" onkeyup="reload()" placeholder="{{Search by nest name...}}" title="{{Type in a nest name}}"></input>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="filter-pokemon">{{Pokemon}}</label>
                                        </div>
                                        <input type="text" id="filter-pokemon" class="form-control input-lg" onkeyup="reload()" placeholder="{{Search by Pokemon name...}}" title="{{Type in a Pokemon name}}"></input>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="filter-city">{{City}}</label>
                                        </div>
                                        <select multiple id="filter-city" class="custom-select" onchange="reload()">
                                            <option value="all" selected>All</option>
                                            {{#cities}}
                                            <option value="{{name}}">{{name}}</option>
                                            {{/cities}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="reset-filters">{{Reset Filters}}</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">{{Close}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>
            <table id="table" class="table table-{{style}} table-striped table-bordered table-hover dt-responsive nowrap" style="position: center; width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th>{{Nest}}</th>
                        <th>{{Pokemon}}</th>
                        <th>{{Count}}</th>
                        <th>{{Average/h}}</th>
                        <th>{{City}}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <br>
    </body>
</html>

<script type="text/javascript" src="./js/moment.js"></script>
<script type="text/javascript" src="./js/jquery.countdown.min.js"></script>
<script type='text/javascript' src='./js/storage.js'></script>
<script type='text/javascript'>
    // Load values from local storage
    if (get('nests_filter_nest')) {
        $('#filter-nest').val(get('nests_filter_grunt'));
    }
    if (get('nests_filter_pokemon')) {
        $('#filter-pokemon').val(get('nests_filter_pokemon'));
    }
    if (get('nests_filter_city')) {
        $('#filter-city').val(JSON.parse(get('nests_filter_city')));
    }
    var nest = $('#filter-nest').val();
    var pokemon = $('#filter-pokemon').val();
    var city = $('#filter-city').val();
    var query = `?nest=${nest}&pokemon=${pokemon}&city=${city}`;
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
        $('.modal-content').css('background-color', 'rgb(33, 37, 41)');
        $('.modal-content').css('color', 'rgb(255, 255, 255)');
    }

    // Next migration time
    var lastMigrationDate = new Date("{{last_nest_migration}}");
    var migrationDate = new Date("{{last_nest_migration}}");
    while (migrationDate < new Date()) {
        var d = new Date(migrationDate);
        d.setDate(d.getDate() + 14);
        migrationDate = d;
    }
    $("#migration").countdown(migrationDate, function(event) {
        var msg = "The next <b>nest migration</b> occurs in<br/> ";
        var time = event.strftime("%w %!w:<span>week</span>,<span>weeks</span>;, %d %!d:<span>day</span>,<span>days</span>;, %H %!H:<span>hour</span>,<span>hours</span>;, %M %!M:<span>minute</span>,<span>minutes</span>;, and %S %!S:<span>second</span>,<span>seconds</span>;");
        $(this).html(msg + time + "<br/>on<br/><span>" + moment(migrationDate).format("dddd MMMM Do YYYY, h:mm:ss A") + "</span>");
    });

    //$(document).ready(function() {
        const table = $('#table').DataTable( {
            "ajax": {
                "url": "/api/nests" + query,
                "dataSrc": "data.nests",
                "async": true
            },
            "stateSave": true,
            "paging":   true,
            "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            "pageLength": 50,
            "columns": [
                { "data": "name" },
                { "data": "pokemon" },
                { "data": "count" },
                { "data": "average" },
                { "data": "city" }
            ],
            "info": true,
            "order": [[ 0, "asc" ]],
            "search.caseInsensitive": true,
            "responsive": true
        });
        table.on('draw.dt', function() {
            setTimeout(function () {
                table.ajax.reload(null, false);
            }, 30 * 1000);
        });
        function reload() {
            var nest = $('#filter-nest').val();
            var pokemon = $('#filter-pokemon').val();
            var city = $('#filter-city').val();
            var query = `?nest=${nest}&pokemon=${pokemon}&city=${city}`;
            table.ajax.url('/api/nests' + query).load();

            // Cache filter values
            set('nests_filter_nest', nest);
            set('nests_filter_pokemon', pokemon);
            set('nests_filter_city', JSON.stringify(city));
        }
        $('#reset-filters').on('click', function() {
            $('#filter-nest').val('');
            $('#filter-pokemon').val('');
            $('#filter-city').val('all');
            reload();
        });
    //});
</script>
