<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">{{Raids}}</h1>
        <br>
        <div style="width:90%; margin-left:calc(5%);">
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#billboard">Billboard</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#statistics">Statistics</a></li>
            </ul>

            <div class="modal fade" id="filtersModal" tabindex="-1" role="dialog" aria-labelledby="filtersModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="filtersModalLabel">{{Raid Filters}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="filter-pokemon">{{Pokemon}}</label>
                                    </div>
                                    <input type="text" id="filter-pokemon" class="form-control input-lg" onkeyup="reload()" placeholder="{{Search by name..}}" title="{{Type in a name}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="filter-gym">{{Gym}}</label>
                                    </div>
                                    <input type="text" id="filter-gym" class="form-control input-lg" onkeyup="reload()" placeholder="{{Search by gym..}}" title="{{Type in a gym name}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="filter-city">{{City}}</label>
                                    </div>
                                    <select multiple id="filter-city" class="custom-select" onchange="reload()">
                                        <option value="all" selected>All</option>
                                        {{#cities}}
                                        <option value="{{name}}">{{name}}</option>
                                        {{/cities}}
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="filter-level">{{Raid Level}}</label>
                                    </div>
                                    <select id="filter-level" class="custom-select" onchange="reload()">
                                        <option value="all" selected>All</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="filter-team">{{Team}}</label>
                                    </div>
                                    <select id="filter-team" class="custom-select"onchange="reload()">
                                        <option value="all" selected>All</option>
                                        <option value="Neutral">Neutral</option>
                                        <option value="Mystic">Mystic</option>
                                        <option value="Valor">Valor</option>
                                        <option value="Instinct">Instinct</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="filter-ex">{{EX-Eligible}}</label>
                                    </div>
                                    <select id="filter-ex" class="custom-select" onchange="reload()">
                                        <option value="all" selected>All</option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="reset-filters">{{Reset Filters}}</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="billboard">
                    <div class="btn-group btn-group-sm float-right">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#filtersModal">
                            <i class="fa fa-fw fa-filter" aria-hidden="true"></i>
                        </button>
                    </div>
                    <br><br>
                    <table id="table" class="table table-{{style}} table-striped table-bordered table-hover dt-responsive nowrap" style="position: center; width:100%">
                        <thead class="thead-dark">
                            <tr>
                                <th class="all">{{Pokemon}}</th>
                                <th class="min-desktop">{{Level}}</th>
                                <th class="all">{{Starts}}</th>
                                <th class="all">{{Ends}}</th>
                                <th class="min-desktop">{{Gym Name}}</th>
                                <th class="min-desktop">{{Team}}</th>
                                <th class="min-desktop">{{EX-Eligible}}</th>
                                <th class="all">{{City}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="statistics">
                    <br>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="stats-start">Start Date</label>
                        </div>
                        <input id="stats-start" class="flatpickr" placeholder="Select Date.." data-toggle="datetimepicker">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="stats-end">End Date</label>
                        </div>
                        <input id="stats-end" class="flatpickr" placeholder="Select Date.." data-toggle="datetimepicker">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="stats-pokemon">Pokemon</label>
                        </div>
                        <select id="stats-pokemon" class="custom-select" onchange="getStats()">
                            <option disabled selected>Select</option>
                            <option value="all">All</option>
                            {{#pokemon}}
                            <option value="{{id}}">{{name}}</option>
                            {{/pokemon}}
                        </select>
                    </div>
                    <br>
                    <div class="justify-content-center">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </body>
    {{> footer}}
</html>

<script type='text/javascript' src='./js/storage.js'></script>
<script type='text/javascript' src='./js/utils.js'></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0'></script>
<script type='text/javascript'>
    $("[data-toggle='datetimepicker']").flatpickr({
        altInput: true,
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
        enableTime: false
    });

    // Load values from local storage
    if (get('raids_filter_pokemon')) {
        $('#filter-pokemon').val(get('raids_filter_pokemon'));
    }
    if (get('raids_filter_gym')) {
        $('#filter-gym').val(get('raids_filter_gym'));
    }
    if (get('raids_filter_level')) {
        $('#filter-level').val(get('raids_filter_level'));
    }
    if (get('raids_filter_city')) {
        $('#filter-city').val(JSON.parse(get('raids_filter_city')));
    }
    if (get('raids_filter_team')) {
        $('#filter-team').val(get('raids_filter_team'));
    }
    if (get('raids_filter_ex')) {
        $('#filter-ex').val(get('raids_filter_ex'));
    }
    var pokemon = $('#filter-pokemon').val();
    var gym = $('#filter-gym').val();
    var level = $('#filter-level').val();
    var city = $('#filter-city').val();
    var team = $('#filter-team').val();
    var ex = $('#filter-ex').val();
    var query = `?pokemon=${pokemon}&gym=${gym}&level=${level}&city=${city}&team=${team}&ex=${ex}`;
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
        $('.modal-content').css('background-color', 'rgb(33, 37, 41)');
        $('.modal-content').css('color', 'rgb(255, 255, 255)');
    }
    //$(document).ready(function() {
        const table = $('#table').DataTable({
            "ajax": {
                "url": "/api/raids" + query,
                "dataSrc": "data.raids",
                "async": true,
                "type": "POST"
            },
            //"dom": "Bfrtip",
            // Reference: https://stackoverflow.com/a/43176143
            /*
            "dom": "<'row'<'col-sm-8'B><'col-sm-4'f>t>" +
                   "<'row'<'col-sm-4'li><'col-sm-8'p>>",
            */
            "dom": "<'row'<'col-sm-12 col-md-6'B><'col-sm-12 col-md-6'f>>" +
                   "<'row'<'col-sm-12'tr>>" +
                   "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "fixedHeader": {
                "header": true,
                "headerOffset": $('.navbar').height() + 15
            },
            "buttons": [
                "colvis",
                "pageLength"
            ],
            "colReorder": true,
            "stateSave": true,
            "paging":   true,
            "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            "pageLength": 100,
            "columns": [
                { data: {
                    _: "pokemon.formatted",
                    sort: "pokemon.sort"
                } },
                { data: {
                    _: "raid_level.formatted",
                    sort: "raid_level.sort"
                } },
                { data: {
                    _: "raid_starts.formatted",
                    sort: "raid_starts.sort"
                } },
                { data: {
                    _: "raid_ends.formatted",
                    sort: "raid_ends.sort"
                } },
                { "data": "gym_name" },
                { data: {
                    _: "team.formatted",
                    sort: "team.sort"
                } },
                { "data": "ex_eligible" },
                { "data": "city" }
            ],
            "columnDefs": [
                { type: 'formatted-num', targets: [0, 1, 2, 3, 5] }
            ],
            "info": true,
            "order": [[ 3, "asc" ]],
            "search.caseInsensitive": true,
            "responsive": true,
            /*
            "createdRow": function(row, data, index) {
                //$('td', row).eq(2).css('color', 'blue');
                //$('td', row).eq(2).css('font-weight', 'bold');
                $(row).css('height', 128);
                var html = `
                <tr class="odd gradeX">
                    <td style="vertical-align:middle;" class="col-md-2">
                        ${data.pokemon}
                        <br>
                        ${data.team}
                        <br>
                        ${data.raid_level}
                    </td>
                    <td style="vertical-align:middle;">
                        <span>Starts: ${data.raid_starts}</span>
                        <br>
                        <span>Ends: ${data.raid_ends}</span>
                    </td>
                    <td style="vertical-align:middle;">
                        <span>Gym Name: ${data.gym_name}</span>
                        <br>
                        <span>EX-Eligible: ${data.ex_eligible}</span>
                        <br>
                        ${data.city}
                    </td>
                </tr">
                `;
                $(row).html(html);
            }
            */
        });
        table.on('draw.dt', function() {
            setTimeout(function () {
                table.ajax.reload(null, false);
            }, 30 * 1000);
        });
        function reload() {
            var pokemon = $('#filter-pokemon').val();
            var gym = $('#filter-gym').val();
            var level = $('#filter-level').val();
            var city = $('#filter-city').val();
            var team = $('#filter-team').val();
            var ex = $('#filter-ex').val();
            var query = `?pokemon=${pokemon}&gym=${gym}&level=${level}&city=${city}&team=${team}&ex=${ex}`;
            table.ajax.url('/api/raids' + query).load();

            // Cache filter values
            set('raids_filter_pokemon', pokemon);
            set('raids_filter_gym', gym);
            set('raids_filter_level', level);
            set('raids_filter_city', JSON.stringify(city));
            set('raids_filter_team', team);
            set('raids_filter_ex', ex);
        }
        $('#reset-filters').on('click', function() {
            $('#filter-pokemon').val('');
            $('#filter-gym').val('');
            $('#filter-city').val('all');
            $('#filter-level').val('all');
            $('#filter-team').val('all');
            $('#filter-ex').val('all');
            reload();
        });

        var ctx = document.getElementById('canvas').getContext('2d');
		var raidChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: [],
                datasets: []
            },
            options: {
                tooltips: true,
                elements: {
                    rectangle: {
                        backgroundColor: "dodgerblue",
                        borderColor: colorize.bind(null, true, false),
                        borderWidth: 0.5
                    }
                },
                responsive: true,
                maintainAspectRatio: true,
                legend: {
                    display: false,
                    position: 'right',
                },
                title: {
                    display: true,
                    text: 'Raid Boss Statistics'
                },
                tooltips: { mode: "index", intersect: false, },
                hover: { mode: "nearest", intersect: true },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Amount'
                        }
                    }]
                }
            }
        });
        function getStats() {
            var start = $('#stats-start').val();
            var end = $('#stats-end').val();
            var pokemon = $('#stats-pokemon').val();
            $.ajax({
                url: `/api/stats?type=raids&start=${start}&end=${end}&pokemon_id=${pokemon}`,
                type: 'POST', 
                success: function(result) {
                    if (result === null) {
                        console.log("Failed to parse result value.");
                        return;
                    }
                    console.log("Result:", result);
                    if (result) {
                        var labels = [];
                        var values = [];
                        $.each(result.stats, function(key, value) {
                            labels.push(value.date);
                            var value = parseInt(value.count);
                            values.push(value);
                        });
                        removeDataset(raidChart);
                        var obj = { 
                            labels: labels, 
                            datasets: [{
                                data: values,
                                backgroundColor: "dodgerblue",
                                borderColor: "gray",
                                label: "Raid Boss",
                                fill: false
                            }]
                        };
                        raidChart.data = obj;
                        raidChart.update();

                        /*
                        removeDataset(raidChart);
                        for (var i = 0; i < result.stats.length; i++) {
                            var stat = result.stats[i];
                            addDataset(raidChart, [], { data: [stat.count], backgroundColor: '#' + randomColor(), borderColor: 'White', borderWidth: 0.3, label: stat.date });
                        }
                        */
                    }
                }
            });
        }
    //});
</script>